<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul th:fragment="loginFragment">
    <li>
        <a th:if="${session.loginUser != null}">欢迎，[[${session.loginUser.username}]]</a>
        <a th:if="${session.loginUser == null}" href="http://auth.campus.com/login.html">你好，请登录</a>
    </li>
    <li>
        <a th:if="${session.loginUser == null}" href="http://auth.campus.com/register.html" class="li_2">免费注册</a>
    </li>
</ul>
</body>
</html>